{
  "instrument" : "coda",
  "selector" : "",
  "schema" : {
    "pid" : {
      "field_type" : "high_level",
      "machine_name" : "pid",
      "source" : "NXS:/entry/experiment_identifier",
      "type" : "string"
 },
 "proposal_id" : {
  "field_type" : "high_level",
  "machine_name" : "proposalId",
  "source" : "NXS:/entry/experiment_identifier",
  "type" : "string"
 },
 "principal_investigator" : {
  "field_type" : "high_level",
  "machine_name" : "principalInvestigator",
  "source" : ["SC:proposals/<proposal_id>:pi_firstname","SC:proposals/<proposal_id>:pi_lastname"],
  "type" : "string"
 },
 "owner" : {
  "field_type" : "high_level",
  "machine_name" : "owner",
  "source" : ["SC:proposals/<proposal_id>:pi_firstname","SC:proposals/<proposal_id>:pi_lastname"],
  "type" : "string"
 },
 "owner_email" : {
  "field_type" : "high_level",
  "machine_name" : "ownerEmail",
  "source" : "SC:proposals/<proposal_id>:pi_email",
  "type" : "string"
 },
 "dataset_name" : {
  "field_type" : "high_level",
  "machine_name" : "datasetName",
  "source" : "NXS:/entry/title",
  "type" : "string"
 },
  "instrument" : {
    "machine_name" : "instrument_name",
    "source" : "NXS:/entry/instrument/name",
    "type" : "string",
    "variable" : true
  },
  "instrument_id" : {
    "field_type" : "high_level",
    "machine_name" : "instrumentId",
    "source" : "SC:instruments?filter=%7B%22where%22%20%3A%20%7B%20%22name%22%20%3A%20%22coda%22%20%7D%20%7D:id",
    "type" : "string"
  },
  "location" : {
    "field_type" : "high_level",
    "machine_name" : "location",
    "source" : "ESS:CODA:<instrument_name>",
    "type" : "string"
  },
  "start_time" : {
    "field_type" : "scientific_metadata",
    "machine_name" : "start_time",
    "human_name" : "Start Time",
    "source" : "NXS:/entry/start_time",
    "transformation" : "timestamp_to_iso8601",
    "type" : "date"
  },
  "end_time" : {
    "field_type" : "scientific_metadata",
    "machine_name" : "end_time",
    "human_name" : "End Time",
    "source" : "NXS:/entry/end_time",
    "transformation" : "timestamp_to_iso8601",
    "type" : "date"
  },
  "run_number" : {
    "field_type" : "scientific_metadata",
    "machine_name" : "run_number",
    "human_name" : "Run Number",
    "source" : "NXS:/entry/entry_identifier",
    "type" : "integer"
  },
  "job_id" : {
    "field_type" : "scientific_metadata",
    "machine_name" : "job_id",
    "human_name" : "Job Id",
    "source" : "NXS:/entry/entry_identifier_uuid",
    "type" : "integer"
  },
  "acquisition_team_members" : {
    "field_type" : "scientific_metadata",
    "machine_name" : "acquisition_team_members",
    "human_name" : "Acquisition Team Members",
    "source" : "NXS:/entry/user_*/name",
    "separator" : " , ",
    "type" : "string"
  }
}
}
