{
    "path": "{{ path }}",
    "size": {{ size }},
    "time": "{{ time }}",
    {% if chk %}"chk": "{{ chk }}",{% endif %}
    {% if uid %}"uid": "{{ uid }}",{% endif %}
    {% if gid %}"gid": "{{ gid }}",{% endif %}
    {% if perm %}"perm": "{{ perm }}"{% endif %}
}
