{
  "datasetId": "{{ dataset_pid }}",
  "size": {{ dataset_size }},
  "chkAlg": "{{ check_algorithm }}",
  "dataFileList": [
    {% for data_file_desc in data_file_desc_list %}{{ data_file_desc }}{% if not loop.last %},
    {% endif %}{% endfor %}
  ]
}
