{
    "path": "{{ file_absolute_path }}",
    "size": {{ file_size }},
    "time": "{{ datetime_isoformat }}",
    "chk": "{{ checksum }}",
    "uid": "{{ uid }}",
    "gid": "{{ gid }}",
    "perm": "{{ perm }}"
}
