# Integration test actions

name: Integration

on:
  workflow_dispatch:
    inputs:
      python-version:
        type: string
  workflow_call:
    inputs:
      python-version:
        type: string

jobs:
  tests:
    name: Integration Tests
    runs-on: 'ubuntu-22.04'
    steps:
      - run: sudo apt install --yes docker-compose
      - uses: actions/checkout@v4
      - uses: actions/setup-python@v5
        with:
          python-version: ${{ inputs.python-version }}
      - run: python -m pip install --upgrade pip
      - run: python -m pip install -r requirements/ci.txt
      - run: docker-compose version
      - run: wget https://gitlab.esss.lu.se/ecdc/ess-dmsc/kafka-to-nexus/-/blob/main/integration-tests/docker-compose.yml
      - run: docker compose up -d
