# Integration test actions

name: Integration

on:
  workflow_dispatch:
    inputs:
      python-version:
        description: "Python version to run tests"
        type: string
  workflow_call:
    inputs:
      python-version:
        description: "Python version to run tests"
        type: string

jobs:
  tests:
    name: Integration Tests
    runs-on: ubuntu-latest
    steps:
      - uses: docker/setup-compose-action@v1
      - uses: actions/checkout@v4
      - uses: actions/setup-python@v5
        with:
          python-version: ${{ inputs.python-version }}
      - run: python -m pip install --upgrade pip
      - run: python -m pip install -r requirements/ci.txt
      - run: python -m pip install -e .
      - run: docker compose version
      - run: docker compose -f tests/docker-compose.yml up -d --wait
      # Setup test environment (creates SciCat backend user, instrument, proposal)
      - run: python tests/integration/setup_test_environment.py --data-dir test-data
      # Validate the generated config file
      - run: scicat_validate_ingestor_config tests/integration/config.test.yml
      # Run the health check tests
      - run: python tests/_scicat_healthcheck.py --config tests/integration/config.test.yml
      # Run the ingestor tests
      - run: python tests/_scicat_ingestor.py --config tests/integration/config.test.yml --data-dir test-data
      - run: docker compose -f tests/docker-compose.yml down
